<div class="row">
        <div class="card col-md-4" *ngFor="let account of accounts" >
          <div class="card-header">
                         {{account.id}}
        </div>
        <div class="card-body">
        
        <p class="card-text">Name: {{account.name}}</p>
        
        
        <p class="card-text">Number:{{account.number}}</p>
        
        <p class="card-text" >Balance:{{account.balance}}</p>
        
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-success "  name="backButton"><i class="fas fa-arrow-left fa-6x"></i></button>
        </div>
        </div>
        </div>
        
        