
<table class="table table-striped table-hover" align="center" >
  <thead class="thead-dark">
        <tr>
          <th *ngFor="let attr of attributes">  <b>{{attr}}</b> </th>
        </tr>
  </thead>
  <tbody>
 
    <tr  *ngFor="let customer of customers">
    <td >
        <a [routerLink]="['/customer',customer.id]" routerLinkActive="router-link-active"> <h4>{{customer.id}} </h4> </a>
    </td>
    <td>
            <h4> {{customer.name}}</h4> 
    </td>
    <td>
             <button type="button" class="btn btn-success" (click)="AcceptFun" name="acceptButton">Accept</button>
             <button type="button" class="btn btn-danger"  (click)="RejectFun" name="rejectButton">Reject</button>
    </td>
  </tr>
</tbody>
</table>

