<div class="card " *ngFor="let customer of customers" >
  <div class="card-header">

    <h4>{{customer.firstName+" "+customer.lastName}} </h4>
<!--    {{customer.firstName+customer.lastName}}-->
</div>
<div class="card-body">

<p class="card-text">Name: {{customer.firstName}}</p>


<p class="card-text">Date of Birth: {{customer.dateOfBirth}}</p>

<p class="card-text" >National ID: {{customer.nationalId}}</p>

</div>
<div class="card-footer">
  <button type="button" class="btn btn-success " (click)="AcceptFun($event, customer.id)" name="acceptButton">Accept</button>
  <button type="button" class="btn btn-danger"  (click)="RejectFun($event, customer.id)" name="rejectButton" >Reject</button>
</div>
</div>


