<div class="container">
  <div class="row">

    <div class="col-md-4">
      <form>
        <div id="contact-form" class="form-container" data-form-container>
          <div class="row">
            <div class="form-title">
              <span>Make Transaction</span>
            </div>
          </div>
          <div class="input-container">
            <div class="row">
					<span class="req-input" >
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Enter Account Holder Name."> </span>
						<input type="text" data-min-length="8" placeholder="Account Holder Name">
					</span>
            </div>
            <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Enter Account Number."> </span>
						<input type="email" placeholder="Account Number">
					</span>
            </div>
            <div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Enter IFSC Code."> </span>
						<input type="tel" placeholder="IFSC">
					</span>
            </div>
            <div class="row">
              <span class="req-input message-box"></span>
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Enter Amount to Transfer."> </span>
						<textarea type="textarea" data-min-length="10" placeholder="Amount"></textarea>
            </div>
            <div class="row submit-row">
              <button type="button" class="btn btn-block submit-form">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div></div>
</div>


