<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
<!--            <img id="profile-img" class="profile-img-card" src="../../assets/angry_arya.jpg" />-->
          
            <form class="form-signin" ngForm #form = "ngForm" (ngSubmit)="handleFormData(form)">
                    <div class="text-center">
                        <h5>Bank User Login</h5>
                    </div>
                    <br>
                    <div class="dropdown form-group">
                        <select name="branch" ngModel class="btn btn-secondary dropdown-toggle">
                          <option *ngFor="let branch of branches" class="form-control dropdown-item"> {{ branch | branchFormatter}}</option>
                        </select>
                      </div>
                <!-- <input type="name" id="name" ngModel name="userName" class="form-control" placeholder="Enter Username" required autofocus>

                <input type="password" id="inputPassword" ngModel name="password" class="form-control" placeholder="Password" required> -->

                <div class="form-group">
                        <input 
                            type="name" 
                            ngModel 
                            required
                            minlength="4"
                            maxlength="10"
                            #userName="ngModel"
                            name="userName"
                            class="form-control" 
                            id="userName" 
                            aria-describedby="name" 
                            placeholder="UserName">
                      </div>
                      <div class="alert alert-danger" *ngIf="userName.touched && userName.invalid">
                          <span *ngIf="userName.errors.required">Name field is required</span>
                          <span *ngIf="userName.errors.minlength">
                            Name field is required -
                             {{userName.errors.minlength.requiredLength - userName.errors.minlength.actualLength}}</span>
                      </div>

                <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Password" required> -->
                <div class="form-group">
                        <input 
                            type="password" 
                            ngModel 
                            required
                            minlength="4"
                            maxlength="10"
                            #password="ngModel"
                            name="password"
                            class="form-control" 
                            id="inputPassword" 
                            aria-describedby="name" 
                            placeholder="Password">
                      </div>
                      <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                          <span *ngIf="password.errors.required">Password is required</span>
                          <span *ngIf="password.errors.minlength">
                            Password is required -
                             {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}}</span>
                      </div>

                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" 
                [disabled]="form.invalid">Sign in</button>
            </form><!-- /form -->

        </div><!-- /card-container -->
    </div><!-- /container -->
