<div class="container text-center">
  <br><br><br>
  <div class="row text-center">

    <div class="col-md-12">

      <form ngForm #form="ngForm" (ngSubmit)="withdrawAmount(form)">
        <h1><span class="text-center">Withdraw Amount </span></h1>
        <br>
        <div id="contact-form" class="form-container" data-form-container>

          <div class="row">
            <div class="form-title">
            </div>
          </div>
          <div class="text-center">
            <h5>Enter the Amount you want to Withdraw</h5>
          </div>
          <div class="row">
              <span class="req-input">
                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Enter Amount"> </span>
                <input type="text" ngModel placeholder="Amount" name="amount">
              </span>
          </div>

          <div class="row submit-row">
            <button type="submit" class="btn btn-block submit-form">Submit</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
