<div class="container">
  <br><br>
  <div class=" row">
    <div class="col-md-12">
      <h1 class="text-center"> Transactions </h1>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <button class="btn btn-lg btn-block"  (click)="makeTransaction()">Make Transaction</button>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <button class="btn btn-lg btn-block"  >Statement</button>-->
<!--    </div>-->
<!--  </div>-->
  <br>
  <div class=" row">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">DebitedAccount</th>
        <th scope="col">CreditedAccount</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <th scope="row">{{transaction.id}}</th>
        <td>{{transaction.transactionAmount  | currency:'INR':true:'4.2-2'}}</td>
        <td>{{transaction.creditedAccount}}</td>
        <td>{{transaction.debitedAccount}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

