<nav class="navbar navbar-expand-sm bg-success navbar-dark default color" style="color: grey">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" >
        Stark Bank <img width="30" height="30" style="padding: 0% ; margin: 0%; " alt="Stark Logo" src="../assets/stark-icon.png">
      </a>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" 
              [routerLink]="['']" 
              routerLinkActive="router-link-active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
            [routerLink]="['/login']" 
            routerLinkActive="router-link-active" >Customer</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" 
              [routerLink]="['/bankuserlogin']" 
              routerLinkActive="router-link-active" >Bank User</a>
        </li>
    </ul>
  </div>
  
</nav>
