<!-- <table id="tableSortExample" mdbTable class="z-depth-1">
  <thead>
    <tr>
      <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="elements" [sortBy]="headElements[i]">{{head | titlecase}}
        <mdb-icon fas icon="sort"></mdb-icon>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let el of elements; let i = index">
      <th scope="row">{{el.id}}</th>
      <td>{{el.first}}</td>
      <td>{{el.last}}</td>
      <td>{{el.handle}}</td>
    </tr>
  </tbody>
</table> -->

<div class="container">
  <br><br>
  <div class=" row">
    <div class="col-md-12">
      <h1 class="text-center"> Transactions </h1>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col-md-6">-->
<!--      <button class="btn btn-lg btn-block"  (click)="makeTransaction()">Make Transaction</button>-->
<!--    </div>-->
<!--    <div class="col-md-6">-->
<!--      <button class="btn btn-lg btn-block"  >Statement</button>-->
<!--    </div>-->
<!--  </div>-->
  <br>
  <div class=" row">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Time</th>
        <th scope="col">DebitedAccount</th>
        <th scope="col">CreditedAccount</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <th scope="row">{{transaction.id}}</th>
        <td>{{transaction.transactionAmount  | currency:'INR':true:'4.2-2'}}</td>
        <td>{{transaction.transactionTime}}</td>
        <td>{{transaction.creditedAccount.accountNumber}}</td>
        <td>{{transaction.debitedAccount.accountNumber}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

