<div class="container text-center">

  <div class="col-md-4">
    <app-customer-dashboard></app-customer-dashboard>
  </div>
  <div class="col-md-8">
    <div class="row text-center">
      <img src="" alt="loading" class="rounded mx-auto d-block">
    </div>
    <div class="row">
      First Name:
    </div>
    <div class="row">
      Last Name:
    </div>
    <div class="row">
      Gender:
    </div>
    <div class="row">
      Phone No:
    </div>
    <div class="row">
      DOB:
    </div>
    <div class="row">
      NID:
    </div>
    <div class="row">
      Address:
    </div>
  </div>
</div>
